<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lanqiao.dao.IntroTeaDao">
	<!-- 根据教师uid获取教师详细信息 -->
	<select id="getAllIntroTeaInfoByUid" parameterType="int" resultType="introtea">
		select * from introtea where uid=#{uid}
	</select>
	<!-- 根据教师的uid和教师的名称获取教师的详细信息 -->
	<!-- <select id="getAllIntroTeaInfoByUidAndName" parameterType="int,string" resultType="introtea">
		select * from introtea where uid=#{uid} and uname=#{uname}
	</select> -->
	<!-- 修改教师的某条详细情况 -->
	<update id="updateIntroTeaInfo" parameterType="introTea">
		update introtea set uid=#{uid},uname=#{uname},subtitle1=#{subtitle1},subtitle2=#{subtitle2},descinfo=#{descinfo} where id=#{id}
	</update>
	<!-- 删除某条信息 -->
	<delete id="deleteIntroTeaBy" parameterType="introtea">
		delete from introtea where 1=1
		<if test="id != null">
			and id=#{id}
		</if>
		<if test="uid != null">
			and uid=#{uid}
		</if>
		<if test="uname != null and uname != ''">
			and uname=#{uname}
		</if>
		<if test="subtitle1 != null and subtitle1 != ''">
			and subtitle1=#{subtitle1}
		</if>
		<if test="subtitle2 != null and subtitle2 != ''">
			and subtitle2=#{subtitle2}
		</if>
	</delete>
	<!-- 添加教师的详细信息 -->
	<insert id="addIntroTea" parameterType="introtea">
		insert into introtea(uid,uname,subtitle1,subtitle2,descinfo) values(#{uid},#{uname},#{subtitle1},#{subtitle2},#{descinfo})
	</insert>
	<!-- 根据id删除教师详细信息 -->
	<delete id="deleteIntroTeaById" parameterType="int">
		delete from introtea where id=#{id}
	</delete>
	<!-- 根据id获取教师的某条详细信息 -->
	<select id="getIntroTeaByid" parameterType="int" resultType="introtea">
		select * from introtea where id=#{id}
	</select>
</mapper>